* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation1 {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  background-color: rgb(218, 219, 146);
  top: 0;
  z-index: 1000;
  justify-content: space-around;
}

.navigation1>div {
  flex-grow: 1;
  flex-basis: auto;
  flex-shrink: 1;
}

.navigation1 div a {
  text-decoration: none;
  color: black;

}

.logo_div {
  padding: 10px;
}



.down_read_btn {
  display: flex;
  width: 100%;
  justify-content: space-between;

}

.down_read_btn a {
 background-color: rgb(46, 46, 45);
  margin: 10px;
  flex-wrap: wrap;
  flex-shrink: 0;
  min-height: 40px;
  max-width: 150px;
  width: 100%;
  text-align: center;
  align-content: center;
  border-radius: 5%;
  text-decoration: none;
  color: rgb(248, 243, 220);
}


.middle_div {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hide_butt {
  display: none;
}

.container {
  display: none;
}

@media (max-width: 600px) {
  .navigation1 {
    flex-direction: column;
  }

  .middle_div,
  .login_div {
    display: none;
    flex-direction: column;
  }

  .hide_butt {
    display: block;
  }

  .img {
    height: auto;
  }

  .container {
    display: block;
    cursor: pointer;
  }

}


.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background: #333;
  margin: 4px;
  transition: 0.4s;
}

.change .bar1 {
  transform: translateY(8px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translateY(-8px) rotate(45deg);
}

.img {
  width: 100%;
  max-width: 450px;
  height: 300px;
  margin: 10px;
}

.imgs {
  width: 100%;
  height: 100%;
}

.book_detail {
  min-height: 500px;
  width: 90%;
  max-width: 600px;
  background-color: rgb(240, 240, 212);
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search_box {
  position: relative;

}

.search_box input {
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #999;
  width: 160px;
}

.search_results {
  position: absolute;
  top: 110%;
  width: 100%;
  background: #fff;
  max-height: 200px;
  overflow-y: auto;
  display: none;
  z-index: 1000;
}

.search_results div {
  padding: 10px;
  cursor: pointer;
}

.search_results div:hover {
  background-color: #eee;
}

.hidden {
  display: none;
}

#searchInput {
  width: 160px;
  height: 30px;
  border-style: none;
  transition: 0.4s;
}

#searchInput:focus {
  width: 200px;
}

.cancel_container {
  max-width: 100%;
  width: 1000px;
  background-color: #251f1f;
  height: 600px;
  max-height: 100%;
  z-index: 1000;
  position: absolute;
  opacity: 0.5;
  display: none;
}
